[Desktop Entry]
Name[am]=ጥቅል መግጠሚያ
Name[ast]=Instalador de paquetes
Name[ca]=Instal·lador de paquets
Name[cs]=Instalátor balíčků
Name[cy]=Gosodwr Pecynnau
Name[da]=Pakkeinstalleringsprogram
Name[de]=Paketinstallationsprogramm
Name[en_GB]=Package Installer
Name[eo]=Pako-instalilo
Name[es]=Instalador de paquetes
Name[eu]=Pakete-instalatzailea
Name[fi]=Paketinasentaja
Name[fr]=Programme d’installation de paquets
Name[fr_CA]=Programme d’installation de paquets
Name[he]=מתקין חבילות
Name[hi]=पैकेज संस्थापक
Name[hu]=Csomagtelepítő
Name[ia]=Installator de pacchettos
Name[id]=Pemasang Paket
Name[is]=Uppsetningarforrit fyrir pakka
Name[it]=Installatore pacchetto
Name[ja]=パッケージインストーラー
Name[lt]=Paketų diegimo programa
Name[nb]=Installasjonsprogram for pakker
Name[nl]=Pakketinstalleerder
Name[oc]=Installador de paquets
Name[pl]=Instalator pakietów
Name[pt]=Instalador de Pacotes
Name[pt_BR]=Instalador de Pacotes
Name[ro]=Instalator de pachete
Name[ru]=Программа установки пакетов
Name[sk]=Inštalátor balíkov
Name[sl]=Namestilnik paketov
Name[sr]=Инсталер пакета
Name[sv]=Paketinstallerare
Name[te]=ప్యాకేజీ స్థాపకం
Name[tr]=Paket Kurucusu
Name[uk]=Установник пакунків
Name[vi]=Trình cài đặt gói
Name[zh_CN]=软件包安装程序
Name[zh_TW]=套件安裝程式
Name=Package Installer
Comment[ast]=Instalar un paquete de software
Comment[ca]=Instal·leu un paquet de programari
Comment[cs]=Nainstalovat softwarový balíček
Comment[cy]=Gosod pecyn meddalwedd
Comment[da]=Installér en softwarepakke
Comment[de]=Ein Programmpaket installieren
Comment[en_GB]=Install a software package
Comment[eo]=Instali programaran pakon
Comment[es]=Instalar un paquete de software
Comment[eu]=Instalatu software-paketea
Comment[fi]=Asenna ohjelma
Comment[fr]=Installer un paquet logiciel
Comment[fr_CA]=Installer un paquet logiciel
Comment[he]=התקנת חבילת תוכנה
Comment[hi]=कोई सॉफ़्टवेयर पैकेज स्थापित करें
Comment[hu]=Szoftvercsomagok telepítése
Comment[ia]=Installar un pacchetto software
Comment[id]=Pasang suatu paket perangkat lunak
Comment[is]=Setja upp hugbúnaðarpakka
Comment[it]=Installa un pacchetto software
Comment[ja]=ソフトウェアパッケージをインストール
Comment[kab]=Sbedd akemmus n useɣẓan
Comment[lt]=Įdiegti programinės įrangos paketą
Comment[nb]=Installer en programvarepakke
Comment[nl]=Een programmatuurpakket installeren
Comment[oc]=Installar un paquet logicial
Comment[pl]=Zainstaluj pakiet oprogramowania
Comment[pt]=Instale um pacote de software
Comment[pt_BR]=Instalar um pacote de software
Comment[ro]=Instalează un pachet de programe
Comment[ru]=Установить пакет ПО
Comment[sk]=Nainštalujte softvérový balík
Comment[sl]=Namestite programski paket
Comment[sr]=Инсталирајте софтверски пакет
Comment[sv]=Installera ett programpaket
Comment[te]=సాఫ్ట్‌వేర్ ప్యాకేజీని ఇన్‌స్టాల్ చేయండి
Comment[tr]=Bir yazılım paketi kurun
Comment[uk]=Встановити програмний пакунок
Comment[vi]=Cài đặt gói phần mềm
Comment[zh_CN]=安装一个软件包
Comment[zh_TW]=安裝軟體套件
Comment=Install a software package
Exec=captain %u
Icon=package
Terminal=false
Type=Application
Categories=System;
MimeType=application/vnd.debian.binary-package;x-scheme-handler/apt;
NoDisplay=false
StartupNotify=false
