[Desktop Entry]
Version=1.1
Type=Application
Name=Epic Games Store
Icon=applications-games
Exec=env LUTRIS_SKIP_INIT=1 flatpak run net.lutris.Lutris lutris:rungameid/1
Actions=
Categories=Game;
