[Desktop Entry]
Name[be]=Імпартаваць праз Pix
Name[br]=Enporzhiañ gant Pix
Name[ca]=Importa amb el Pix
Name[cs]=Importovat pomocí Pix
Name[cy]=Mewnforio gyda Pix
Name[da]=Importér med Pix
Name[de]=Mit Pix importieren
Name[el]=Εισαγωγή μέσω του Pix
Name[en_GB]=Import with Pix
Name[eo]=Import per Pix
Name[es]=Importar con Pix
Name[et]=Impordi Pixiga
Name[eu]=Inportatu Pix-ekin
Name[fa]=با Pix وارد کنید
Name[fi]=Tuo Pix:llä
Name[fr]=Importer avec Pix
Name[fr_CA]=Importer avec Pix
Name[he]=ייבוא באמצעות פיקס
Name[hi]=पिक्स के साथ आयात करें
Name[hu]=Importálás a Pix programmal
Name[ia]=Importar con Pix
Name[id]=Impor dengan Pix
Name[is]=Flytja inn með Pix
Name[it]=Importa con Pix
Name[ja]=Pix でインポート
Name[ko]=Pix로 가져오기
Name[nb]=Importer med Pix
Name[nl]=Importeren met Pix
Name[pl]=Importuj za pomocą Pix
Name[pt]=Importar com o Pix
Name[pt_BR]=Importar com o Pix
Name[ro]=Importă cu Pix
Name[ru]=Импортировать с помощью Pix
Name[sk]=Importovať s Pix
Name[sl]=Uvozi s Pix
Name[sr]=Увези Пиксом
Name[sv]=Importera med Pix
Name[tr]=Pix ile içe aktarın
Name[uk]=Імпорт за допомогою Pix
Name[uz]=Pix bilan import qilish
Name[zh_CN]=使用 Pix 导入
Name[zh_TW]=用 Pix 匯入
Name=Import with Pix
Comment[be]=Імпартаваць фота на вашу камеру
Comment[ca]=Importa les fotos de la targeta de la vostra càmera
Comment[cs]=Importovat fotografie na kartě fotoaparátu
Comment[cy]=Mewnforio'r lluniau sydd ar gerdyn eich camera
Comment[da]=Importer billederne på dit kamerakort
Comment[de]=Fotos von einer Kameraspeicherkarte importieren
Comment[el]=Εισάγετε τις φωτογραφίες από την κάρτα της κάμεράς σας
Comment[en_GB]=Import the photos on your camera card
Comment[eo]=Importi la fotojn sur via fotila karto
Comment[es]=Importe fotos de la tarjeta de la cámara
Comment[et]=Importige fotod oma kaamerakaardile
Comment[eu]=Inportatu zure kameraren txarteleko argazkiak
Comment[fa]=عکس ها را روی کارت دوربین خود وارد کنید
Comment[fi]=Tuo valokuvat kamerasta
Comment[fr]=Importez les photos se trouvant sur la carte de votre appareil photo
Comment[fr_CA]=Importez les photos se trouvant sur la carte de votre appareil photo
Comment[he]=ייבוא תמונות מכרטיס מצלמנ
Comment[hi]=अपने कैमरा कार्ड पर फ़ोटो आयात करें
Comment[hu]=Fényképek importálása a fényképezőgépről
Comment[ia]=Importar le photos de tu carta del camera
Comment[id]=Impor foto pada kartu kamera Anda
Comment[is]=Flytja inn myndir af minniskorti myndavélar
Comment[it]=Importa le foto dalla scheda della fotocamera
Comment[ja]=カメラのカードから写真をインポートします
Comment[ko]=카메라 카드에 있는 사진 가져오기
Comment[nb]=Importer bildene på kamerakortet
Comment[nl]=Importeer de foto's vanaf uw camerakaartje
Comment[pl]=Importuj zdjęcia na kartę aparatu
Comment[pt]=Importar as fotos no cartão da câmara
Comment[pt_BR]=Importe as fotos que estão no cartão de sua câmera
Comment[ro]=Importă pozele de pe cardul aparatului foto
Comment[ru]=Импорт фотографий с карты памяти фотокамеры
Comment[sk]=Importujte fotografie na karte fotoaparátu
Comment[sl]=Uvozite fotografije s spominske kartice vašega fotoaparata
Comment[sr]=Увези фотографије на картицу фото-апарата
Comment[sv]=Importera foton från din kameras minneskort
Comment[tr]=Kamera kartınızdaki resimleri içe aktarın
Comment[uk]=Імпортуйте фотографії з карти камери
Comment[uz]=Kamera kartangizdagi suratlarni import qilish
Comment[zh_CN]=导入相机卡上的照片
Comment[zh_TW]=匯入相機記憶卡裏的照片
Comment=Import the photos on your camera card
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=pix --import-photos %U
Icon=pix
MimeType=x-content/image-dcf;x-content/image-picturecd;
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
